/*---------default----------*/
* {
    padding: 0;
    margin: 0;
}

*:hover {
    cursor: default;
}

div {
    box-sizing: border-box;
}

header,
section,
footer {
    width: 1920px;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
}


/*---------navbar----------*/
.navbar {
    background: #585858;
    width: 1920px;
    position: fixed;
    z-index: 10;
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.menu li {
    display: block;
}

.menu li a {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    transition: transform 0.35s;
    background-color: white;
    transform: scaleX(0);
}

.menu li a:hover:before {
    transform: scaleX(1);
}

.menu li .menu-active::before {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    transform: scaleX(1);
}

.menu li .menu-active:hover:before {
    transform: scaleX(1);
}

.logo {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: white;
}


/*---------header----------*/
header {
    height: 546px;
    background: #585858;
}

.header-txt {
    display: inline-block;
    margin-top: 192px;
}

.header-txt h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: white;
    letter-spacing: 0.195em;
}

.header-txt h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 130%;
    color: white;
}

.header-button {
    display: block;
    background: white;
    box-shadow: 0px 39px 15px rgba(71, 61, 51, 0.01), 0px 22px 13px rgba(71, 61, 51, 0.05), 0px 10px 10px rgba(71, 61, 51, 0.09), 0px 2px 5px rgba(71, 61, 51, 0.1), 0px 0px 0px rgba(71, 61, 51, 0.1);
    text-shadow: 10px 10px 2px rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    border: none;
    padding: 23.5px 26.5px;
    margin-top: 47px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #585858;
    transition: all 0.5s;
}

.header-button:hover {
    background-color: #dedede;
}

.header-image {
    position: absolute;
    width: 983px;
    height: 654px;
    left: 797px;
    top: 125px;
}

.header-scroll-left {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1580px;
    top: 679px;
}

.header-scroll-right {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1680px;
    top: 679px;
}


/*---------social----------*/
#section-social {
    height: 233px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 44px;
    padding-top: 130px;
}

/*---------section-menu-----*/
.section-menu-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1639px;
    padding: 140px 0px;
}

.menu-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 371px;
}

.menu-column:first-child,
.menu-column:last-child {
    width: 331px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    
}

.menu-item-img {
    width: 80px;
    height: 80px;
}

.menu-item-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;

    color: #000000;

}